# Gere com: mix phx.gen.secret
SECRET_KEY_BASE=

# Gere com: openssl rand -hex 32
# Usado para autenticar os sensores na API POST /api/v1/heartbeat
API_KEY=

# Domínio de produção (sem protocolo)
PHX_HOST=localhost
